@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

.absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(46, 67, 255);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button,
input {
  outline: none;
  border: none;
  border-radius: 4px;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 10px;
  background: #000;
}
body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background-color: #4a0457;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----whatsapp pluging------*/
#whatsapp {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
}
#whatsapp.active .btn-container .label {
  animation-name: fadeOutDown;
}
#whatsapp.active .btn-container .icon-container::before {
  animation-name: wtp_animation-before;
  animation-duration: 0.4s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}
#whatsapp.active .btn-container .icon-container::after {
  animation-name: wtp_animation-after;
  animation-duration: 1s;
  animation-fill-mode: both;
}
#whatsapp.active .wtp-container {
  display: block;
  animation-name: fadeInUp;
}
#whatsapp.active .wtp-container .wtp-body .item {
  animation-name: fadeInLeft;
}
#whatsapp.active .wtp-container .wtp-body .item:nth-child(1n) {
  animation-delay: 0.08s;
}
#whatsapp.active .wtp-container .wtp-body .item:nth-child(2n) {
  animation-delay: 0.16s;
}
#whatsapp.active .wtp-container .wtp-body .item:nth-child(3n) {
  animation-delay: 0.24s;
}
#whatsapp.active .wtp-container .wtp-body .item:nth-child(4n) {
  animation-delay: 0.32s;
}
#whatsapp.active .wtp-container .wtp-body .item:nth-child(5n) {
  animation-delay: 0.4s;
}
#whatsapp.active .wtp-container .wtp-body .item:nth-child(6n) {
  animation-delay: 0.48s;
}
#whatsapp.active .wtp-container .wtp-body .item:nth-child(7n) {
  animation-delay: 0.56s;
}
#whatsapp.active .wtp-container .wtp-body .item:nth-child(8n) {
  animation-delay: 0.64s;
}
#whatsapp.active .wtp-container .wtp-body .item:nth-child(9n) {
  animation-delay: 0.72s;
}
#whatsapp.active .wtp-container .wtp-body .item:nth-child(10n) {
  animation-delay: 0.8s;
}
#whatsapp .btn-container {
  display: flex;
  align-items: center;
}
#whatsapp .btn-container .label {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px 10px;
  background: #f5f7f9;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px #ccc;
  animation-name: fadeInUp;
}
#whatsapp .btn-container .icon-container {
  background: #2db742;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  box-shadow: 0 4px 8px #ccc;
  position: relative;
  overflow: hidden;
}
#whatsapp .btn-container .icon-container::before {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  background-image: url("https://ik.imagekit.io/medamineck/Images/svgexport-1_FXJ3AnYpl.png?updatedAt=1632243566062");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2db742;
}
#whatsapp .btn-container .icon-container::after {
  content: "";
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://ik.imagekit.io/medamineck/Images/wtp_icon_Gw5rdmIyW.png?updatedAt=1632243643975");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2db742;
  background-size: contain;
}
#whatsapp .wtp-container {
  display: none;
  width: 90vw;
  max-width: 400px;
  position: absolute;
  left: 0;
  background: #fff;
  bottom: 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}
#whatsapp .wtp-container .wtp-header {
  background: #2db742;
  display: flex;
  height: 100px;
}
#whatsapp .wtp-container .wtp-header .instructions {
  text-align: right;
  padding: 10px;
}
#whatsapp .wtp-container .wtp-header .instructions p.h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}
#whatsapp .wtp-container .wtp-header .instructions p.sub {
  color: #fff;
  opacity: 0.8;
  line-height: 22px;
}
#whatsapp .wtp-container .wtp-header .icon-container {
  width: 100px;
  height: 100%;
  padding: 20px;
}
#whatsapp .wtp-container .wtp-header .icon-container span {
  font-size: 45px;
  color: #fff;
}
#whatsapp .wtp-container .wtp-body {
  padding: 20px;
}
#whatsapp .wtp-container .wtp-body p.header {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 20px;
}
#whatsapp .wtp-container .wtp-body .item {
  display: flex;
  background: #f5f7f9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border-left: 2px solid #2db742;
  cursor: pointer;
  transition: box-shadow linear 0.2s;
  box-shadow: 0 0 0 #ccc;
}
#whatsapp .wtp-container .wtp-body .item:hover {
  box-shadow: 2px 4px 10px #ccc;
}
#whatsapp .wtp-container .wtp-body .item .logo-container {
  min-width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-right: 10px;
  border: 2px solid #2db742;
  overflow: hidden;
  margin-left: 20px;
}
#whatsapp .wtp-container .wtp-body .item .logo-container img {
  max-width: 100%;
  max-height: 100%;
}
#whatsapp .wtp-container .wtp-body .item .content {
  width: 100%;
}
#whatsapp .wtp-container .wtp-body .item .content p.name {
  margin-top: 15px;
  opacity: 0.8;
}
#whatsapp .wtp-container .wtp-body .item .content p.sub {
  font-size: 12px;
  opacity: 0.4;
  margin-top: 4px;
}
#whatsapp .wtp-container .wtp-body .item .icon-container span {
  color: #2db742;
}

@keyframes wtp_animation-before {
  0% {
    transform: translate(-50%, -50%) rotate(0);
    visibility: hidden;
  }
  to {
    transform: translate(-50%, -50%) rotate(180deg);
    visibility: visible;
  }
}
@keyframes wtp_animation-after {
  0% {
    transform: translate(-50%, -50%) rotate(0) scale(1);
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(180deg) scale(0.4);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(0.1);
    opacity: 0;
  }
}
.animate__animated {
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
body {
  background-image: url(/images/bg.png);
  background-size: cover;
  padding: 20px;
}

h1.title {
  text-align: center;
  color: #fff;
  font-size: 32px;
  text-shadow: 0 0 10px #000;
  margin-bottom: 20px;
}

main.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}
main.container .item {
  background: #fff;
  width: 300px;
  border-radius: 12px;
  border: 4px solid #ccc;
  padding: 16px;
  color: #000;
}
main.container .item .thumbnail {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
}
main.container .item p.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
main.container .item button {
  background-color: #2f80ed;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}
main.container .item button svg {
  width: 35px;
}
main.container .item .file-info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4392156863);
}/*# sourceMappingURL=style.css.map */